<div class="steps grid grid-cols-1 md:grid-cols-2 font-light gap-5 pt-4 mx-auto">
  <div class="flex flex-col space-y-5">
    <div class="codeblock rounded-md">
      <a href="https://github.com/zeropsio/recipe-angular-static/blob/main/zerops-project-import.yml" target="_blank"
        class="link flex justify-center py-1 text-sm rounded-t-md bg-[#30384A]">zerops-project-import.yml</a>
      <button class="copy top-10 right-2" (click)="onCopyToClipboardClick()">Copy</button>
      <pre class="p-4 rounded-md max-w-[500px] overflow-x-scroll overflow-y-hidden">
        <code class="typescript">{{ importyaml }}</code>
      </pre>
    </div>
    <div
      class="flex flex-col py-10 h-[260px] rounded-md gap-5 px-10 bg-[#1B212F] border border-solid border-[#272E3D] buttons-container">
      <a href="https://github.com/zeropsio/recipe-angular-static/" target="_blank"
        class="primarybutton rounded-full text-center text-md duration-300">Recipe Source Code</a>
      <a href="https://discord.com/invite/WDvCZ54" target="_blank"
        class="discordbutton rounded-full text-center text-md duration-300">Discord</a>
      <a href="https://docs.zerops.io" target="_blank"
        class="zeropsbutton rounded-full text-center text-md duration-300">Documentation</a>
    </div>
  </div>
  <div class="flex flex-col h-full relative">
    <div class="codeblock rounded-md h-full">
      <a href="https://github.com/zeropsio/recipe-angular-static/blob/main/zerops.yml" target="_blank"
        class="link flex justify-center py-1 text-sm rounded-t-md bg-[#30384A]">zerops.yml</a>
      <button class="copy top-10 right-2" (click)="onCopyToClipboardClick()">Copy</button>
      <pre class="p-4 rounded-md max-w-[500px] overflow-x-scroll overflow-y-hidden">
        <code class="typescript">{{ zeropsyaml }}</code>
      </pre>
    </div>
  </div>
</div>
